@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

/* !Workbench */
#workbenchPageContent {
  max-width: 100%;
}

.ControlZone--emphasisBackground,
.CanvasZoneContainer {
  background-color: transparent !important;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}

.ToolbarButtonTooltip {
  display: none;
}

.Canvas {
  margin: 0 !important;
}
/* !workbench */
h2.fc-toolbar-title {
  font-size: 1rem !important;
}
.calendar-section {
  max-width: 45rem;
  margin: auto;
}
/* button.fc-dayGridMonth-button.fc-button.fc-button-primary,
button.fc-timeGridWeek-button.fc-button.fc-button-primary,
button.fc-timeGridDay-button.fc-button.fc-button-primary,
button.fc-listWeek-button.fc-button.fc-button-primary {
  display: none;
} */

/* .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr .fc-toolbar-chunk:last-child {
  display: none;
} */
.fc .fc-button-primary {
  background-color: #011e41 !important;
}
.fc .fc-toolbar {
  flex-direction: row-reverse;
}
/* .fc .fc-button .fc-icon {
  font-size: 0.8rem !important;
}
button.fc-today-button.fc-button.fc-button-primary {
  font-size: 0.8rem !important;
} */
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.8rem !important;
}
a.fc-col-header-cell-cushion {
  font-weight: normal;
}
.calendar-section .btn-section {
  /* margin-bottom: 1rem; */
  height: 0;
}
button.btn.btn-theme {
  color: #fff;
  background: #011e41;
  padding: 0.24rem 1rem;
}
.modal-body,
.calendar-section .modal-footer {
  padding: 1rem 2rem !important;
}
.modal-footer {
  border-top: 0 !important;
}
.modal-header {
  border-bottom: 0 !important;
}
.calendar-popup textarea {
  resize: none;
  min-height: 5rem;
}

select#StartTime,
#EndTime {
  width: 76px;
  margin: 10px;
}

select#StartTimeHour,
#EndTimeHour {
  width: 76px;
}

a.fc-col-header-cell-cushion {
  color: #011e41;
  text-decoration: none;
  font-weight: bold;
}
a.fc-daygrid-day-number {
  color: #011e41;
  text-decoration: none;
}
button.fc-today-button.fc-button.fc-button-primary {
  margin-right: 5rem;
}
button.btn.btn-theme.btn-openmodal {
  position: relative;
  /* top: 3.2rem; */
}
table.fc-scrollgrid.fc-scrollgrid-liquid {
  background: #fff;
  /* border: 2px solid #adadad; */
}
table.fc-scrollgrid.fc-scrollgrid-liquid,
table.fc-scrollgrid.fc-scrollgrid-liquid th,
table.fc-scrollgrid.fc-scrollgrid-liquid td {
  border: 2px solid #cacaca;
  border-collapse: collapse;
}
table.fc-scrollgrid.fc-scrollgrid-liquid th {
  border-bottom: none;
}
